[Unit]
Description=Check lab-dashboard repo for Docker updates every 30 minutes
Requires=docker.service
After=docker.service

[Timer]
OnBootSec=60
OnUnitActiveSec=30min
AccuracySec=1min
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target
